@(string: String, flag: Boolean)
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/index">Home</a></li>
            @if(!flag){
                <li><a href="@routes.UserController.login">LOGIN</a></li>
                <li><a href="@routes.UserController.signUp">SIGNUP</a></li>
            }
        </ul>
        <div class="navbar-header">
            <p class="navbar-brand">@string</p>
        </div>
    </div>
</nav>